<!-- Main Content Area -->
<main class=" rounded-3xl bg-[#5394b9] p-16 px-6 grid grid-cols-1 lg:grid-cols-3 gap-8">
    <section
        class="lg:col-span-2 bg-[#5394b9] main-content-bg rounded-2xl p-8 relative overflow-hidden min-h-[650px] flex flex-col justify-between items-start w-full">
        <form id="prediction-form" class=" text-white space-y-6 w-full flex flex-col justify-between h-full">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">
                <!-- Kolom 1 -->
                <div>
                    <div class="form-group">
                        <label for="ph" class="blocktext-white text-lg font-semibold mb-2">pH:</label>
                        <input type="number" step="any" id="ph" name="ph" required
                            placeholder="Masukkan nilai pH (0-14)"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Hardness" class="blocktext-white text-lg font-semibold mb-2">Kekerasan
                            (Hardness) mg/L:</label>
                        <input type="number" step="any" id="Hardness" name="Hardness" required
                            placeholder="Masukkan kekerasan air"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Solids" class="blocktext-white text-lg font-semibold mb-2">Total Padatan
                            Terlarut (Solids) mg/L:</label>
                        <input type="number" step="any" id="Solids" name="Solids" required
                            placeholder="Masukkan total padatan terlarut"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Chloramines" class="blocktext-white text-lg font-semibold mb-2">Kloramin
                            (Chloramines) mg/L:</label>
                        <input type="number" step="any" id="Chloramines" name="Chloramines" required
                            placeholder="Masukkan konsentrasi kloramin"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Sulfate" class="blocktext-white text-lg font-semibold mb-2">Sulfat (Sulfate)
                            mg/L:</label>
                        <input type="number" step="any" id="Sulfate" name="Sulfate" required
                            placeholder="Masukkan konsentrasi sulfat"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>
                </div>

                <!-- Kolom 2 -->
                <div>
                    <div class="form-group">
                        <label for="Conductivity" class="blocktext-white text-lg font-semibold mb-2">Konduktivitas
                            (Conductivity) µS/cm:</label>
                        <input type="number" step="any" id="Conductivity" name="Conductivity" required
                            placeholder="Masukkan konduktivitas"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Organic_carbon" class="blocktext-white text-lg font-semibold mb-2">Karbon
                            Organik (Organic Carbon) mg/L:</label>
                        <input type="number" step="any" id="Organic_carbon" name="Organic_carbon" required
                            placeholder="Masukkan karbon organik"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Trihalomethanes"
                            class="blocktext-white text-lg font-semibold mb-2">Trihalometana (Trihalomethanes)
                            µg/L:</label>
                        <input type="number" step="any" id="Trihalomethanes" name="Trihalomethanes" required
                            placeholder="Masukkan trihalometana"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>

                    <div class="form-group">
                        <label for="Turbidity" class="blocktext-white text-lg font-semibold mb-2">Kekeruhan
                            (Turbidity) NTU:</label>
                        <input type="number" step="any" id="Turbidity" name="Turbidity" required
                            placeholder="Masukkan kekeruhan"
                            class="text-lg shadow-sm appearance-none border border-gray-300 rounded-lg w-full py-4 px-4 text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150" />
                    </div>
                </div>
            </div>

            <!-- Tombol Submit -->
            <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white text-lg font-bold py-4 px-4 rounded-lg focus:outline-none focus:shadow-outline transition duration-200 ease-in-out transform hover:scale-105 shadow-md mt-6">
                Prediksi Kualitas Air
            </button>
        </form>
    </section>

    <!-- Right Section -->
    <section class="lg:col-span-1 flex flex-col gap-8">
        <!-- SCHOOL Card -->
        <div
            class="school-card-bg rounded-2xl p-6 shadow-md flex flex-col justify-start items-center min-h-[300px] relative">
            <!-- justify-start agar konten dari atas, items-center agar tengah horizontal -->
            <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">HASIL</h2>

            <!-- Hasil Prediksi -->
            <div id="results-area"
                class="mt-4 p-6 shadow-inner hidden w-full flex flex-col justify-center items-center">
                <div id="prediction-results" class="flex flex-col items-center justify-center space-y-4 text-lg">
                    <!-- JS akan menambahkan hasil prediksi -->
                </div>
            </div>
        </div>

        <!-- EVERYDAY Card -->
        <div
            class="everyday-card-bg rounded-2xl p-6 shadow-md flex flex-col justify-start items-center min-h-[350px] relative">
            <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">KETERANGAN</h2>
            <!-- Peringatan Parameter -->
            <div id="everyday-output" class="text-base text-gray-800 w-full text-center"></div>
        </div>
    </section>

</main>